body{
    font-size: 22px;
}

a:link {
    text-decoration: none;
  }

#main-nav{
	border-radius: 0;
	background-color: #777777;
    padding: 20px;
}

#nav-items ul li a{
    color: #000;
    text-align: center;
}

#nav-button .icon-bar{
    border: 1px solid rgb(255, 0, 0);
}

#brand{
	color: #000;
	margin: 0px;
}

#main-content{
	background-color: #d8d27b;
	margin: 20px;
	height: 1000px;
}